@model Mammon.Models.Views.CostCentreReportModel

<html>
<head>
	<style>
		html * {
			font-family: Arial, sans-serif;
		}

		.level-0 {
			color: darkblue;
			font-size: 20px;
			font-weight: bold;
			padding-top: 0.5em;
		}

		.currency {
			text-align: right;
		}		

		.currency:before {
			content: '€ ';
			padding-left: .5em;
		}			

		.level-1 {
			padding-left: .5em;
			font-weight: bold;
		}

		.level-1:before {
			content: "• ";
		}

		.level-2 {
			padding-left: 1em;
		}

		.level-2:before {
			content: "› ";
		}

		.level-3 {
			padding-left: 2em;
		}

		.level-3:before {
			content: "» ";
		}

		.level-4 {
			padding-left: 3em;
		}
	</style>
</head>
<body>
	<h1>Cost Breakdown</h1>
	@{
		RenderNode(null, Model.Root);
	}
</body>
</html>

@functions {

	private void RenderNode(string? nodeName, CostCentreReportNode node, int level = 0)
	{
		if (node.Type!= CostCentreReportNodeType.Root)
		{
			<p class="level-@(level)">@nodeName<span class="currency">@node.NodeTotal.ToString("F")</span></p>
		}

		@foreach (var subNode in node.SubNodes)
		{
			RenderNode(subNode.Key, subNode.Value, node.Type== CostCentreReportNodeType.Root? level :  level + 1);
		}
		@foreach (var leaf in node.Leaves)
		{
			<p class="level-@(level+1)">@leaf.Key<span class="currency">@leaf.Value.ToString("F")</span></p>
		}
	}
}